* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-body{
    background-color: #fed800;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0 3% 0;
    gap: 2.7rem;
}

.carousel-home{
    width: 88%;
}

.our-products{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #983275;
}