.container-navbar {
    background-color: #811d5e !important;
}

.font-navbar {
    color: white !important;
    font-weight: 500 !important;
}

.font-navbar:hover {
    color: rgb(221, 221, 221) !important;
    background-color: #983275 !important;
}

.navbar-nav .nav-link.active {
    color: #ff6f01 !important;
}

.navbar-toggler {
    background-color: #fed800 !important;
}

.nav-link-img {
    padding-right: 20px !important;
}

.sign-out {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
}

.sign-out:hover {
    background-color: #983275;
    color: rgb(221, 221, 221);
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}